# Node dependencies
node_modules

# Compiled output
.next/

# Logs
logs
*.log

# IDE
.idea/
.vscode/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and build files
.cache/
out/
